In [1]:
import pandas as pd 
df = pd.read_csv("/Users/siddarthusulkar/Documents/GitHub/BMI_Applied_project/Cleaning_data.csv")
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,HUQ010,HUQ030,HUQ042,HUQ055,HUQ090,INDFMMPI,INDFMMPC,INQ300,IND310,URXPREG
0,130378.0,12.0,2.0,1.0,43.0,NaN,5.0,6.0,2.0,NaN,...,1.0,1.0,1.0,2.0,2.0,5.00,3.0,1.0,NaN,NaN
1,130379.0,12.0,2.0,1.0,66.0,NaN,3.0,3.0,2.0,NaN,...,3.0,1.0,1.0,1.0,2.0,5.00,3.0,1.0,NaN,NaN
2,130380.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,...,3.0,1.0,1.0,1.0,2.0,1.40,2.0,2.0,1.0,2.0
3,130386.0,12.0,2.0,1.0,34.0,NaN,1.0,1.0,1.0,NaN,...,2.0,1.0,1.0,2.0,2.0,1.45,2.0,2.0,2.0,NaN
4,130387.0,12.0,2.0,2.0,68.0,NaN,3.0,3.0,2.0,NaN,...,2.0,1.0,2.0,2.0,2.0,1.41,2.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5959,142303.0,12.0,2.0,2.0,69.0,NaN,5.0,7.0,2.0,NaN,...,3.0,1.0,2.0,2.0,2.0,1.25,1.0,2.0,1.0,NaN
5960,142305.0,12.0,2.0,2.0,76.0,NaN,1.0,1.0,2.0,NaN,...,4.0,1.0,1.0,2.0,1.0,NaN,3.0,2.0,1.0,NaN
5961,142307.0,12.0,2.0,2.0,49.0,NaN,4.0,4.0,2.0,NaN,...,3.0,1.0,1.0,2.0,2.0,NaN,2.0,1.0,NaN,NaN
5962,142309.0,12.0,2.0,1.0,40.0,NaN,2.0,2.0,1.0,NaN,...,1.0,1.0,4.0,2.0,2.0,3.26,3.0,2.0,3.0,NaN
5963,142310.0,12.0,2.0,2.0,80.0,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,2.0,2.0,4.59,3.0,1.0,NaN,NaN